{%- if settings.show_hero and collection.image -%}
  <div class="collection-posture-shirt-container">
    <div class="wrapper">
      <div class="custom-posture-shirt-wrapper">
        <div class="collection-column-one-container">

          <h2 class="collection-title">{{ collection.title | escape }}</h2>
          {% if section.settings.stars_text != blank %}
            <p class="collection-subtext">
              {{ section.settings.stars_text }}
            </p>
          {% endif %}
          {% if section.settings.collection_stars != blank and section.settings.stars_url != blank %}
            <a
              target="_blank"
              href="{{section.settings.stars_url | escape }}"
              class="stars-link-container">
              <img src="{{section.settings.collection_stars | img_url: '400x52'}}" alt="{{section.settings.collection_stars.alt}}">
            </a>
          {% endif %}
        </div>
        <div class="collection-posture-shirt-title-wrapper">
          {%- if section.settings.collection_bullets-title != blank -%}
            <h4 class="collection-title">{{ section.settings.collection_bullets-title }}</h4>
          {%- endif -%}
          <ul class="collection-list">
            {% for block in section.blocks %}
              {%- assign bullet_text = block.settings.collection_bullet -%}
              <li class="collection-item" {{ block.shopify_attributes }}>
                <p>{{ bullet_text }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{%- else if collection.image == blank -%}
  <div class="hero-container hero-collection hero-first" data-section-type="hero-section"></div>
{%- endif -%}