<div class="expert-testimonial">
  <div class="box et__box">
    <div class="wrapper et__wrapper">


      <div class="et__main-text">
        {%- unless section.settings.main_testimonial == blank -%}
          <blockquote>
            {{ section.settings.main_testimonial }}
          </blockquote>
        {%- endunless -%}
      </div>

      <div class="et-wrapper">
        {%- unless section.settings.author_name == blank or section.settings.company_name == blank -%}
          <cite class="author__name">{{ section.settings.author_name }}</cite>
          <cite class="company__name">{{ section.settings.company_name }}</cite>
        {%- endunless -%}

        {%- unless section.settings.author_image == blank or section.settings.company_logo == blank -%}
          <div class="author_img-wrapper">
            <img
              src="{{ section.settings.author_image | img_url: '200x200' }}"
              alt="author image"
              class="author_image">
          </div>
          <div class="company_img-wrapper">
            <img
              src="{{ section.settings.company_logo | img_url: '300x150' }}"
              alt="company logo"
              class="company_logo">
          </div>
        {%- endunless -%}
      </div>


    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Expert Testimonial",
    "class": "expert_testimonial",
    "settings": [
      {
        "type": "header",
        "content": "Expert testimonial",
        "info": "Add your expert testimonial about collection"
      },
      {
        "type": "image_picker",
        "id": "qoutes_icon",
        "label": "Add qoutes icon 100x100px recommended"
      },
      {
        "type": "richtext",
        "id": "main_testimonial",
        "label": "Testimonial text",
        "default": "<p>Add max two paragragh text here...</p>"
      },
      {
        "type": "text",
        "id": "author_name",
        "label": "Author name",
        "default": "Sandro Aesch..."
      }, {
        "type": "image_picker",
        "id": "author_image",
        "label": "Add author image size 400x400px recommended"
      }, {
        "type": "text",
        "id": "company_name",
        "label": "Author name",
        "default": "passiflora"
      }, {
        "type": "image_picker",
        "id": "company_logo",
        "label": "Add author company logo, size 200x100px recommended"
      }
    ],
    "presets": [
      {
        "name": "Expert Testimonial",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}